body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navbar {
    display: flex;
    
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(7, 7, 9);
}

.logo img {
    width: 50px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar button {
    padding: 10px;
    background-color: #daeb60;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #4a68e0;
}

.nav-links a {
    color: rgb(255, 243, 243);
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}
